Mira - Orchestrator Agent.json
{
  "name": "Mira - Orchestrator Agent V2",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "h97ppnanTTIRBfP6",
          "mode": "list",
          "cachedResultUrl": "/workflow/h97ppnanTTIRBfP6",
          "cachedResultName": "Mira - Milestone Tracker Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        -16
      ],
      "id": "9cb7b7fa-ae13-4994-b491-455d40315fa4",
      "name": "Call 'Mira - Milestone Tracker Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "faoP2V1SuQ398pBi",
          "mode": "list",
          "cachedResultUrl": "/workflow/faoP2V1SuQ398pBi",
          "cachedResultName": "Mira - Risk Assessor Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        -208
      ],
      "id": "3a801485-8072-484c-80ba-981f1e22fdfb",
      "name": "Call 'Mira - Risk Assessor Agent'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9iHVrEc29NqAuQ6A",
          "mode": "list",
          "cachedResultUrl": "/workflow/9iHVrEc29NqAuQ6A",
          "cachedResultName": "Mira - Status Reporter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        368
      ],
      "id": "bf80f3ea-bfb0-4a1f-8a36-fd5c85575252",
      "name": "Call 'Mira - Status Reporter'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6iGybKbrd4Qorx7E",
          "mode": "list",
          "cachedResultUrl": "/workflow/6iGybKbrd4Qorx7E",
          "cachedResultName": "Mira - Planner Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        176
      ],
      "id": "3183fb5f-c5c5-4237-8478-c4788152b672",
      "name": "Call 'Mira - Planner Agent'"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are an Intent Classification Agent for a Project Management AI Assistant.\n\nYour job is to classify the user's question into exactly ONE of the following intents:\n\nRISK\nSTATUS\nMILESTONE\nPLANNER\n\nIntent Definitions\n\nRISK\n\nQuestions about:\n- project risks\n- risk assessment\n- risk register\n- risk exposure\n- likelihood and impact\n- mitigation actions\n- project threats\n- emerging risks\n- critical risks\n\nExamples:\n- What are the top risks?\n- Assess project risks.\n- Which risks are most critical?\n- What should we worry about?\n- What risks could delay the project?\n- What mitigation actions are recommended?\n\nSTATUS\n\nQuestions about:\n- overall project health\n- project progress\n- completed work\n- pending work\n- blocked tasks\n- delayed tasks\n- overdue tasks\n- task status\n- open tasks\n- completed tasks\n- project updates\n- project summary\n- current state\n- sprint progress\n- work in progress\n\nExamples:\n- How healthy is the project?\n- What is the project status?\n- Give me a status update.\n- Are we on track?\n- How is the project doing?\n- Show blocked tasks.\n- Which tasks are delayed?\n- Which tasks are overdue?\n- What work is currently in progress?\n- What tasks are completed?\n\nIMPORTANT:\nIf a question mentions:\n- blocked tasks\n- delayed tasks\n- overdue tasks\n- task status\n- open tasks\n- completed tasks\n\nALWAYS classify as STATUS, not RISK.\n\nMILESTONE\n\nQuestions about:\n- milestones\n- milestone completion\n- milestone tracking\n- milestone delays\n- milestone status\n- upcoming milestones\n\nExamples:\n- Which milestones are at risk?\n- What milestones are overdue?\n- What milestones are coming up?\n- Show milestone status.\n- Which milestones are completed?\n\nPLANNER\n\nQuestions about:\n- project plans\n- roadmap\n- implementation approach\n- project phases\n- timeline\n- deliverables\n- future work\n- work breakdown structure\n\nExamples:\n- Give me the project plan.\n- Show me the roadmap.\n- What are the next phases?\n- What deliverables are planned?\n- Tell me about the project timeline.\n- What is the implementation approach?\n\nConfidence Scoring Rules\n\n0.95\nThe intent is explicit and obvious.\n\nExamples:\n- What are the top risks?\n- How healthy is the project?\n- Show blocked tasks.\n- Which tasks are overdue?\n- Which milestones are delayed?\n- Give me the project plan.\n\n0.80\nThe intent is mostly clear but could overlap slightly with another category.\n\nExamples:\n- Any concerns?\n- How are we doing?\n- What should we focus on?\n- Anything behind schedule?\n\n0.50\nThe request is ambiguous and could reasonably belong to multiple intents.\n\nExamples:\n- Tell me about the project.\n- Give me an update.\n- What's going on?\n- Can you summarize things?\n\n0.30\nThe request is vague or unclear.\n\nExamples:\n- Help me.\n- Explain this.\n- Tell me more.\n\nImportant Rules\n\n- Be conservative with confidence.\n- Do not assign confidence above 0.95.\n- Choose exactly one intent.\n- Return valid JSON only.\n- Do not include explanations.\n- Do not include markdown.\n- Do not include code fences.\n\nOutput format:\n\n{\n  \"intent\": \"<INTENT>\",\n  \"confidence\": <NUMBER BETWEEN 0 AND 1>\n}"
            },
            {
              "content": "={{$json.question}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        448,
        368
      ],
      "id": "978434e9-bcae-4c38-bc41-bc7246aabdd5",
      "name": "Intent Classifier",
      "credentials": {
        "openAiApi": {
          "id": "LrFKasv4yOZ89x8W",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        368
      ],
      "id": "25c49221-8a29-43c8-b0bc-88d72d147620",
      "name": "When chat message received",
      "webhookId": "913588b3-58b2-42dc-a779-f075d6712310"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: $json.response\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        560
      ],
      "id": "0b8d12fc-4c52-4d13-9c6d-2ab79b535fd3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.confidence}}",
                    "rightValue": 0.8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "d41a0bb3-f253-4b5c-b9b8-2e6c139ee538"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c9c61d4b-0b01-48e9-809f-d7ceca5baf23",
                    "leftValue": "={{$json.confidence}}",
                    "rightValue": 0.8,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1024,
        368
      ],
      "id": "fc7d77fd-8cf7-4407-97a5-a04acfc2ba84",
      "name": "Confidence Switch"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output[0].content[0].text;\n\nconst result = JSON.parse(raw);\n\nlet selected_agent = \"\";\n\nswitch (result.intent) {\n  case \"RISK\":\n    selected_agent = \"Risk Assessor\";\n    break;\n\n  case \"STATUS\":\n    selected_agent = \"Status Reporter\";\n    break;\n\n  case \"PLANNER\":\n    selected_agent = \"Planner\";\n    break;\n\n  case \"MILESTONE\":\n    selected_agent = \"Milestone Tracker\";\n    break;\n}\n\nreturn [{\n  json: {\n    intent: result.intent,\n    confidence: result.confidence,\n    question: $('Input to JSON').first().json.question,\n    selected_agent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        368
      ],
      "id": "ae11e250-3c88-4eff-8fcc-b683116392d8",
      "name": "Synthesize agent selection and confidence"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "RISK",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "94ea2d91-5f3c-42ca-9d81-3cac31639705"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a902912-0f16-43d4-9955-3a38a69ade66",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "STATUS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6214c12-d73f-46f9-b3ad-ec642d34d268",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "PLANNER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9276d9ee-dd34-4b41-bf00-04e7a849785c",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "MILESTONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1248,
        144
      ],
      "id": "0abead85-a414-437c-a520-2e7b238ef802",
      "name": "Agent Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fc019e8-f3da-49cb-9d3b-9cca6e6a4540",
              "name": "response",
              "value": "I'm not fully confident about your request.  Please choose one:  • Project Status • Risks • Milestones • Project Plan",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        560
      ],
      "id": "ccc89cc2-ce84-4b25-9e44-e96e297e533d",
      "name": "Low confidence response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "413de98b-cfda-414c-9bf8-07be8330bbb1",
              "name": "question",
              "value": "={{$json.chatInput}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        368
      ],
      "id": "a315d998-16c9-4d40-8e85-b985276ef7fd",
      "name": "Input to JSON"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.output[0].content[0].text;\n\nreturn [\n  {\n    json: {\n      question: $('Synthesize agent selection and confidence').first().json.question,\n      intent: $('Synthesize agent selection and confidence').first().json.intent,\n      confidence: $('Synthesize agent selection and confidence').first().json.confidence,\n      selected_agent: $('Synthesize agent selection and confidence').first().json.selected_agent,\n\n      text,\n      response: text\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        64
      ],
      "id": "ca303004-83b8-40ff-bb1a-c8e41eb7f7c2",
      "name": "Curate Sub Agent Output"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    text: $json.response\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        272
      ],
      "id": "18ac3819-f49e-4995-b80f-8dfa5a655f72",
      "name": "Chat Response"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // Preserve original data\n    question: $json.question,\n    intent: $json.intent,\n    confidence: $json.confidence,\n    selected_agent: $json.selected_agent,\n    response: $json.response,\n\n    // Langfuse payload\n    batch: [\n      {\n        id: 'trace-' + Date.now(),\n        type: 'trace-create',\n        timestamp: new Date().toISOString(),\n        body: {\n          id: 'mira-' + Date.now(),\n          name: 'Mira - ' + $json.selected_agent,\n\n          input: JSON.stringify({\n            question: $json.question,\n            intent: $json.intent,\n            confidence: $json.confidence,\n            selected_agent: $json.selected_agent,\n            model: 'gpt-4o-mini'\n          }),\n\n          output: JSON.stringify({\n            response: $json.response\n          })\n        }\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        80
      ],
      "id": "a90a9191-f5a0-4220-a432-14fb8d1a7c1a",
      "name": "Curate Data for Langfuse Ingestion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.langfuse.com/api/public/ingestion",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2144,
        80
      ],
      "id": "0c94b7d2-8354-49a1-b716-7a2615cb8aab",
      "name": "Langfuse Ingestion",
      "credentials": {
        "httpBasicAuth": {
          "id": "a8foOxijmPdvr7T1",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "tableId": "agent_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "question",
              "fieldValue": "={{$json.question}}"
            },
            {
              "fieldId": "intent",
              "fieldValue": "={{$json.intent}}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{$json.confidence}}"
            },
            {
              "fieldId": "selected_agent",
              "fieldValue": "={{$json.selected_agent}}"
            },
            {
              "fieldId": "response",
              "fieldValue": "={{$json.response}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1920,
        -112
      ],
      "id": "a000b51e-a358-44a9-8105-0200fba3d20f",
      "name": "Insert Observability Data to Database",
      "credentials": {
        "supabaseApi": {
          "id": "5fPlBvwiLEZltxX2",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Call 'Mira - Milestone Tracker Agent'": {
      "main": [
        [
          {
            "node": "Curate Sub Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mira - Risk Assessor Agent'": {
      "main": [
        [
          {
            "node": "Curate Sub Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mira - Planner Agent'": {
      "main": [
        [
          {
            "node": "Curate Sub Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mira - Status Reporter'": {
      "main": [
        [
          {
            "node": "Curate Sub Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Synthesize agent selection and confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Input to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confidence Switch": {
      "main": [
        [
          {
            "node": "Agent Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low confidence response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesize agent selection and confidence": {
      "main": [
        [
          {
            "node": "Confidence Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Switch": {
      "main": [
        [
          {
            "node": "Call 'Mira - Risk Assessor Agent'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Mira - Status Reporter'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Mira - Planner Agent'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Mira - Milestone Tracker Agent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Low confidence response": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input to JSON": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curate Sub Agent Output": {
      "main": [
        [
          {
            "node": "Insert Observability Data to Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Curate Data for Langfuse Ingestion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Curate Data for Langfuse Ingestion": {
      "main": [
        [
          {
            "node": "Langfuse Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Langfuse Ingestion": {
      "main": [
        []
      ]
    },
    "Insert Observability Data to Database": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7477fafa-be78-4053-89e1-8eb083ade33d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74212124f2d36707e8b9b8d51562686e2e2d5930f8f47d952512838e394680e7"
  },
  "nodeGroups": [],
  "id": "RSGGLwCmMVoqcaO4",
  "tags": []
}