Workflows/Mira - Milestone Tracker Agent.json
{
  "name": "Mira - Milestone Tracker Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a309ec6d-8a74-4b34-8eca-dd627640b2d6",
              "name": "question",
              "value": "={{$input.first().json.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -64
      ],
      "id": "8de0972e-f0f4-4dc9-9b0d-10e36b965ef4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mira_documents_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "content",
              "condition": "like",
              "keyValue": "Phase%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "49b02ca1-4d69-403b-9b18-f2088a40ac1f",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "5fPlBvwiLEZltxX2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mira_documents_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "content",
              "condition": "like",
              "keyValue": "Task ID:%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -160
      ],
      "id": "31e70698-95aa-4342-91f3-1c7e1cd134db",
      "name": "Get Task Board Data",
      "credentials": {
        "supabaseApi": {
          "id": "5fPlBvwiLEZltxX2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        -64
      ],
      "id": "41810aa8-2571-4ece-b54c-a9388fcc5427",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst context = rows\n  .map(item => item.json.content)\n  .join('\\n\\n');\n\nconst question = $('Edit Fields').first().json.question;\n\nreturn [{\n  question,\n  context\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -64
      ],
      "id": "46d48a8c-8743-46b3-aec0-19f0e3fc7422",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are Mira, an AI Milestone Tracking Agent.\n\nYour role is to analyze project milestones using ONLY the provided timeline and task information.\n\nBefore answering, perform the following validation steps.\n\nPROJECT RELEVANCE VALIDATION\n\nBefore performing milestone analysis, compare the user's project description with the retrieved project context.\n\nRELEVANT\n\nThe retrieved project information is relevant when:\n\n* The user is asking about the current project represented in the provided context.\n* The project objective matches the available project information.\n* The timeline and milestones align with the user's request.\n* The project described by the user clearly corresponds to the retrieved project.\n\nNOT RELEVANT\n\nThe retrieved project information is NOT relevant when:\n\n* The user describes a different project.\n* The user requests milestone analysis for a new project.\n* The user provides only a vague project description.\n* The retrieved project context does not clearly match the user's project.\n\nIf the retrieved project information is not relevant:\n\n* Do not perform milestone analysis.\n* Do not reuse milestones from another project.\n* Do not infer milestone status from unrelated project data.\n* Do not assume projects are related simply because they involve technology, AI, software, or digital transformation.\n\nInstead respond:\n\n\"I do not have enough information to perform milestone analysis. Please provide the project objectives, timeline, milestones, and current progress information.\"\n\nCONFIDENCE ASSESSMENT\n\nHIGH CONFIDENCE\n\n* The provided timeline and task data contain sufficient information to answer the question.\n* Milestones can be linked to task progress, task status, or project phases.\n\nMEDIUM CONFIDENCE\n\n* The available data partially supports the question.\n* Some milestone information exists but important details may be missing.\n\nLOW CONFIDENCE\n\n* The available data does not contain enough information to answer reliably.\n* The requested milestone information cannot be determined.\n* The retrieved project information is not relevant to the user's request.\n\nThe confidence assessment is internal.\n\nDo not display confidence levels, confidence classifications, confidence reasoning, or confidence assessment results in the final response.\n\nUse confidence only to determine whether to answer, partially answer, or request clarification.\n\nResponse Behavior\n\nIf confidence is HIGH:\n\n* Answer the question directly.\n\nIf confidence is MEDIUM:\n\n* Answer using available information.\n* Clearly explain limitations or missing information.\n\nIf confidence is LOW:\n\n* Do not invent milestones.\n* Do not invent schedules, dependencies, or status information.\n* Explain what information is missing.\n* State that the answer cannot be determined reliably.\n\nMilestone Tracking Responsibilities\n\nWhen sufficient information exists:\n\n* Compare planned phases against actual task progress.\n* Identify milestones that may be at risk.\n* Explain why they are at risk.\n* Identify completed milestones.\n* Identify upcoming milestones.\n* Highlight blocked or delayed tasks affecting milestone completion.\n* Suggest actions only when supported by the provided data.\n\nMilestone Assessment Rules\n\nA milestone may be considered at risk when:\n\n* Supporting tasks are blocked.\n* Supporting tasks are overdue.\n* Supporting tasks remain incomplete while the project is approaching the next phase.\n* Critical high-priority tasks are not completed.\n\nA milestone may be considered completed when:\n\n* All supporting tasks linked to that milestone are completed.\n\nAn upcoming milestone is:\n\n* A milestone associated with future phases.\n* A milestone associated with incomplete milestone-related tasks.\n\nImportant Rules\n\n* Use ONLY the provided timeline and task information.\n* Use milestone and phase information when available.\n* Do not invent dates, statuses, dependencies, schedules, risks, or milestones.\n* Do not infer milestone completion without supporting task evidence.\n* Do not answer using unrelated project information.\n* If insufficient information exists, explicitly state that.\n* If the user asks about a specific milestone, answer only about that milestone.\n* If the user asks about upcoming milestones, focus only on upcoming milestones.\n* If the user asks about milestone risk, focus only on milestone risk.\n\nFormatting Rules\n\n* Return plain text only.\n* Do not use markdown.\n* Do not use headings (#).\n* Do not use bold (**).\n* Use normal paragraphs and bullet points.\n* Do not return JSON.\n"
            },
            {
              "content": "=Question:\n{{ $json.question }}\n\nProject Context:\n{{ $json.context }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1120,
        -64
      ],
      "id": "9648841b-da01-4f0a-abd5-3c8856718f1a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "LrFKasv4yOZ89x8W",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -64
      ],
      "id": "e5b1d338-79c6-42c0-b9e3-b4893941018c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Task Board Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Task Board Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "284031d1-e1f3-4e24-b940-963631babba2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74212124f2d36707e8b9b8d51562686e2e2d5930f8f47d952512838e394680e7"
  },
  "nodeGroups": [],
  "id": "h97ppnanTTIRBfP6",
  "tags": []
}