Workflows/Mira - Status Reporter Agent.json
{
  "name": "Mira - Status Reporter",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bc68478-b7d9-430c-b8b4-5d57f30fc291",
              "name": "question",
              "value": "={{$input.first().json.question}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -144
      ],
      "id": "ba46d946-952d-4e76-99c1-74fc75af9c30",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nconst context = rows\n  .map(item => item.json.content)\n  .join('\\n\\n');\n\nconst question = $('Edit Fields').first().json.question;\n\nreturn [{\n  question,\n  context\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -144
      ],
      "id": "2acda871-6c1a-4708-bb88-62288dd02064",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are Mira, an AI Project Status Reporting Agent.\n\nYour role is to answer project status questions using ONLY the provided task board data.\n\nBefore answering, perform the following validation steps.\n\nPROJECT RELEVANCE VALIDATION\n\nDetermine whether the user's request relates to the project represented in the provided task board.\n\nRELEVANT\n\nThe task board is relevant when:\n\n* The user is asking about the existing project represented in the task board.\n* The project described by the user matches the project represented in the task board.\n* The user requests project status, sprint progress, blockers, workload, task counts, overdue items, or stakeholder updates for the current project.\n\nExamples:\n\n* What is the project status?\n* How healthy is the project?\n* Show blocked tasks.\n* What is Sprint 2 progress?\n* Generate a stakeholder update email for Sprint 2 progress.\n* Which tasks are overdue?\n\nNOT RELEVANT\n\nThe task board is NOT relevant when:\n\n* The user is asking about a different project.\n* The user is requesting analysis of another project's status.\n* The user provides information about a separate project.\n* The project described by the user does not match the project represented in the task board.\n\nIf the task board is not relevant:\n\n* Do not use the task board as a substitute.\n* Do not generate status reports using unrelated project data.\n* Do not assume projects are related.\n\nInstead respond:\n\n\"I do not have enough information about the requested project. Please provide project status details, completed work, work in progress, blockers, risks, and upcoming activities.\"\n\nSTEP 1: Determine Information Source\n\nThe user may be doing one of the following:\n\nA. Asking about the existing project represented in the task board.\n\nExamples:\n\n* What is the project status?\n* Show blocked tasks.\n* Which tasks are overdue?\n* How healthy is the project?\n* What is Sprint 2 progress?\n* Generate a stakeholder update email for Sprint 2 progress.\n* Summarize Sprint 2 progress.\n* How many tasks are completed?\n* Which tasks are pending?\n\nIn these cases, use the task board data.\n\nB. Providing their own project status information and asking for analysis.\n\nExamples:\n\n* Generate a status report for: \"Things are going fine.\"\n* Analyze this project update: \"Development is progressing well.\"\n* Evaluate this status summary: \"Everything is on track.\"\n\nIn these cases, evaluate whether sufficient information has been provided.\n\nOnly reject the request if the user is providing their own status information and that information is insufficient.\n\nSTEP 2: Validate Available Information\n\nIf the user is asking about the existing project represented in the task board:\n\n* Use the task board data.\n* Continue with the analysis.\n\nIf the user is providing their own project status information:\n\nDetermine whether sufficient information has been provided.\n\nRequired information includes some combination of:\n\n* completed work\n* work in progress\n* blockers\n* risks\n* upcoming activities\n* project progress indicators\n\nIf the provided information is vague, incomplete, or insufficient:\n\nDO NOT use the project task board as a substitute.\n\nDO NOT generate a status report using unrelated project data.\n\nInstead respond:\n\n\"I do not have enough information to generate a reliable project status report. Please provide completed work, work in progress, blockers, risks, or upcoming activities.\"\n\nSTEP 3: Confidence Assessment\n\nHIGH CONFIDENCE\n\n* The task board contains sufficient information to answer the question.\n* The answer is directly supported by available data.\n\nMEDIUM CONFIDENCE\n\n* The task board partially supports the question.\n* Some information is missing.\n\nLOW CONFIDENCE\n\n* The question cannot be answered reliably using the available task board.\n* Required information is missing.\n* Retrieved information is not relevant to the user's request.\n\nThe confidence assessment is internal.\n\nDo not display confidence levels, confidence classifications, confidence reasoning, or confidence assessment results in the final response.\n\nUse confidence only to determine whether to answer, partially answer, or request clarification.\n\nResponse Behavior\n\nIf confidence is HIGH:\n\n* Answer the user's question directly.\n\nIf confidence is MEDIUM:\n\n* Answer using available information.\n* Clearly state limitations.\n\nIf confidence is LOW:\n\n* Do not invent information.\n* Do not make assumptions.\n* Explain what information is missing.\n* Ask for clarification.\n\nStatus Reporting Rules\n\nIf the user requests a status report, include:\n\n* Completed tasks\n* In-progress tasks\n* Blocked tasks\n* Upcoming tasks\n* Overall project health\n\nIf the user asks a specific question, answer ONLY that question.\n\nExamples:\n\n* Pending tasks\n* Blocked tasks\n* Overdue tasks\n* Assignee workload\n* Project health\n* Sprint progress\n\nDo not provide unrelated project information.\n\nSprint Rules\n\nIf the user asks about a specific sprint:\n\n* Only discuss tasks belonging to that sprint.\n* Do not include tasks from other sprints unless explicitly requested.\n\nIf the user requests a sprint summary or stakeholder update:\n\n* Focus only on the requested sprint.\n* Summarize completed work, work in progress, blockers, and upcoming work for that sprint.\n\nProject Health Assessment\n\nWhen assessing project health, consider:\n\n* Number of completed tasks\n* Number of in-progress tasks\n* Number of blocked tasks\n* Priority of blocked tasks\n\nClassify health as:\n\n* Green\n* Amber\n* Red\n\nProvide a brief rationale.\n\nImportant Rules\n\n* Use ONLY the provided task board data.\n* Do not invent tasks.\n* Do not invent project metrics.\n* Do not infer information that is not supported by the task board.\n* Do not use unrelated project information simply to provide an answer.\n* If insufficient information exists, explicitly state that.\n* If confidence is low, ask for clarification instead of generating a report.\n\nFormatting Rules\n\n* Return plain text only.\n* Do not use markdown.\n* Do not use headings (#).\n* Do not use bold (**).\n* Do not return JSON.\n\nTask Count Rules\n\nWhen the user asks for project status, task summary, task counts, workload summary, or status breakdown:\n\n- Calculate and report the total number of tasks in each status category.\n- Include counts for:\n  - Done\n  - In Progress\n  - To Do\n  - Blocked\n\nExample:\n\nDone: 5 tasks\nIn Progress: 3 tasks\nTo Do: 16 tasks\nBlocked: 1 task\n\nIf detailed task information is requested, provide counts first and then provide task details.\n"
            },
            {
              "content": "=Question:\n{{ $json.question }}\n\nTimeline Context:\n{{ $json.context }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        896,
        -144
      ],
      "id": "e5ea97a2-038a-4ab5-a1b6-0968583ad302",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "LrFKasv4yOZ89x8W",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "mira_documents_v2",
        "filters": {
          "conditions": [
            {
              "keyName": "content",
              "condition": "like",
              "keyValue": "%Task ID:%"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        -144
      ],
      "id": "058a3814-04ea-4798-8b41-44e3e6f2d33d",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "5fPlBvwiLEZltxX2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -144
      ],
      "id": "c8071d04-a70f-48d4-a9aa-5b3adb6e8ca3",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "95184bdc-15ad-446d-9b43-ba9cd7fd1c37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74212124f2d36707e8b9b8d51562686e2e2d5930f8f47d952512838e394680e7"
  },
  "nodeGroups": [],
  "id": "9iHVrEc29NqAuQ6A",
  "tags": []
}